/*===============
  TEAM 03
===============*/
.team3 {
  background-color: $color-tertiary;
  &__wrapper {
    overflow: hidden;
    &__card {
      margin-top: 85px;
      padding: 25px;
      border-radius: 10px;
      background-color: $color-light;
      text-align: center;
      transition: all 0.8s;
      &:hover {
        box-shadow: 2px 0px 15px 5px $color-shadow;
      }
      img {
        margin-top: -100px;
        width: 150px;
        height: 150px;
        padding: 5px;
        border: 2px solid $color-primary;
        object-fit: cover;
        object-position: top center;
      }
      .social-icon {
        display: flex;
        gap: 10px;
        li {
          list-style: none;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: all 0.8s;
            background-color: $color-primary;
            color: $color-light;
            &:hover {
              background-color: $color-secondary;
            }
            @include respond(extraMini) {
              width: 50px;
              height: 50px;
            }

            @include respond(laptop) {
              width: 35px;
              height: 35px;
              i {
                font-size: 17px;
              }
            }
            @media screen and (max-width: 500px) {
              width: 40px;
              height: 40px;
              i {
                font-size: 20px;
              }
            }
            i {
              font-size: 20px;
              @include respond(laptop) {
                font-size: 17px;
              }
              @media screen and (max-width: 500px) {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
/////  DARK VERSION  /////
.theme-dark {
  .team3 {
    background-color: $color-secondary;
    &__wrapper {
      &__card {
        background-color: $color-dark-primary;
      }
    }
  }
}
